div {
  height: 100px;
  width: 100px;
  display: block;
  margin: 45px;
  padding: 45px;
  background-image:url("stock.gif");
  position: relative;
  transition: background-image 4s;

  animation-name: example2;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: 4;
  animation-delay: 10s;
}

div:hover {
  background-image: url("stock2.gif");
}

@keyframes example2 {
  0% {font-size: 14px; top: 0px; left: 0px;}
  50% {font-size: 20px; top: 200px; left: 200px;}
  100% {font-size: 14px; top: 0px; left: 0px;}
}
